a = ["1.Вайб","2.Имба","3.Кринж/кринге"]


с = ["Вайб -Атмосфера, настроение", "Имба-Нечто потрясающе крутое, «имбалансное». Пришло из киберспорта, но сейчас используют везде","Кринж/кринге - Стыд, неловкость, что-то настолько нелепое, что стыдно смотреть"]



for x in range(len(a)):
    print(a[x])


b = int(input("Введите номер нужного вам слова:"))

print(с[b-1])
